/* /src/assets/css/global.css */

/* @import "./assets/css/tailwind.scss"; for sasss */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* h2 {
  color: red;
} */

.rotate-0 {
  transform: rotate(0deg);
}
.rotate-90 {
  transform: rotate(90deg);
}
.rotate-180 {
  transform: rotate(180deg);
}
.rotate-270 {
  transform: rotate(270deg);
}

.flip-h {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.gradient {
  /* background: linear-gradient(90deg, #04AF84 0%, #1b83c7 100%); */
  background: #00b084;
}
/* <div class="py-20" style="background: linear-gradient(90deg, #64C389 0%, #00B084 100%)">
          </div> */
.router-link-active {
  @apply font-bold;
}
.green-psr {
  background: #00b084;
}
.white-psr {
  background: #ffffff;
}
.green-psr-hover {
  background: #59BE9C;
}
.green-psr:hover {
  @apply green-psr-hover;
}
.white-psr:hover {
  @apply green-psr-hover;
}
.green-psr-menu {
  background: transparent;
}
.green-psr-menu:hover {
  background: #00b084;
}
.green-psr-font {
  color: #00b084;
}


.pin-c-x {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.pin-c-y {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.pin-c {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
}